body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-left: 80px;
    margin-right: 80px;
    padding: 0;
}

header , section {
    margin-bottom: 40px;  
}

.oblique {
    font-style: oblique;
}

.yellow {
    background-color: #BFC500;
}

.yellow-text {
    color: #BFC500; font-weight: 400px;
}

button {
    width: 300px; height: 50px;
    border-color: #BFC500;
    font-weight: 900;
    cursor: pointer;
}

.blink {
        animation: blinker 3s linear infinite;
      }
      
      @keyframes blinker {
        50% {
          opacity: 0;
        }
      }


video {
    height: 60%;
}

a {
    color: white;
    text-decoration: none;
}

.logo-img {
    height: 250px;
    width: 250px;
}

footer > div {
    padding: 40px 40px 15px;
}

/*flexbox */
.container-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-center {
    align-items: center;
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
    gap: 20px;
}